{
  "chrome": {
    "default": "VERSION",
    "versions": {
      "VERSION": {
        "image": ["/usr/local/bin/chromedriver", "--whitelisted-ips", "--host", "::", "--log", "debug"]
      }
    }
  }
}
